absl-py==2.3.1
altgraph==0.17.2
app==0.0.1
appdirs==1.4.4
asgiref==3.2.10
astunparse==1.6.3
attrs==25.4.0
blinker==1.7.0
cachetools==6.0.0
camel_tools==1.5.7
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
dill==0.4.0
distlib==0.3.8
dj-database-url==0.5.0
Django==3.1.1
docopt==0.6.2
editdistance==0.8.1
emoji==2.15.0
filelock==3.13.1
Flask==3.0.2
flatbuffers==25.9.23
fontawesomefree==6.6.0
fonttools==4.60.1
fsspec==2025.9.0
future==0.18.2
gast==0.6.0
google-pasta==0.2.0
grpcio==1.76.0
gunicorn==20.0.4
h5py==3.14.0
httplib2==0.20.4
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==3.10.0
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.43.0
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
muddler==0.1.3
mysql-connector==2.2.9
namex==0.1.0
networkx==3.2.1
newsapi-python==0.2.6
newsdataapi==0.1.1
nltk==3.9.2
numba==0.60.0
numpy==1.26.4
onnxruntime==1.19.2
onnxruntime-gpu==1.19.2
opencv-python-headless==4.9.0.80
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
panda==0.3.1
pandas==2.3.3
pefile==2022.5.30
pillow==11.3.0
platformdirs==4.4.0
pooch==1.8.2
protobuf==6.33.0
psycopg2-binary
PyArabic==0.6.15
Pygments==2.19.2
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
PyJWT==2.3.0
PyMatting==1.1.14
pyparsing==3.0.9
pyperclip==1.8.2
pyreadline3==3.5.4
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywaffle==1.1.1
pywin32==308
pywin32-ctypes==0.2.0
PyYAML==6.0.3
referencing==0.36.2
regex==2025.10.23
rembg==2.0.61
requests==2.32.5
rich==14.2.0
rpds-py==0.27.1
safetensors==0.6.2
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
spacey==0.1.1
sqlparse==0.4.4
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
textmagic==2.0.3
threadpoolctl==3.6.0
tifffile==2024.8.30
tokenizers==0.19.1
torch==2.8.0
tqdm==4.67.1
transformers==4.43.4
twilio==7.9.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.0.31
Werkzeug==3.1.3
whitenoise==5.2.0
wrapt==2.0.1
xgboost==2.1.4
zipp==3.23.0
